In [ ]:
matches_won = int(input())
goals = int(input())
if matches_won > 8:
  if goals > 20:
    print("Hurray")
  print("Winner")
print("progream ended")

In [ ]:
matches_won = int(input())
goals = int(input())
if matches_won > 11:
  if goals > 18:
    print("Hurray")
  print("Winner")
print("progream ended")

18
20
Hurray
Winner
progream ended

In [ ]:
matches_won = int(input())
goals = int(input())
if matches_won >18:
  if goals > 33:
    print("abhi")
  print("shlok")
print("abhi")

18
33
abhi

In [ ]:
a = 2
b = 8
c = 5
is_a_greatest = (a > b) and (a > c)
if is_a_greatest:
    print(a)
else:
  is_b_greatest = (b > c)
  if is_b_greatest:
     print(b)
  else:
    print(c)

8

In [ ]:
n = int(input("enter a number:"))
if n > 0:
  print("positive")
elif n < 0:
  print("negative")
else:
  print("fifty")

enter a number:25
positive

In [ ]:
number = 45
is_divisible_by_10 = (number % 10 ==0)
is_divisible_by_5 = (number % 5 ==0)
if is_divisible_by_10:
  print("divisible by 10")
elif is_divisible_by_5:
  print("divisible by 5")
else:
  print("not divisible by 10 or 5")

divisible by 5

In [ ]:
marks = int(input("ENTER YOUR MARKS:"))
if marks >=90:
  print("grade: A")
elif marks >=75:
  print("grade: B")
elif marks >=60:
  print("grade: C")
elif marks >=40:
  print("grade:")
else:
   print("grade: F (fail)")

ENTER YOUR MARKS:25
grade: F (fail)

In [ ]:
age = int(input("enter your age:"))
if age < 13:
  print("your are a child")
elif age < 20:
  print("you are a teenager")
elif age < 60:
  print("you are a adult")
elif age >= 60:
  print("you are a senior citizen")

enter your age:18
you are a teenager

In [ ]:
name = int(input("name of polygon:"))
if name == 3:
  print(" not polygon")
elif name == 3 :
  print("triangle")
elif name == 4:
  print("quadrilateral")
elif name == 5:
  print("Pentagone:")
else:
   print("big polygon")

name of polygon:58
big polygon

In [ ]:
N= int(input("enter grade of the student:"))
if  (N>85):
  print("A")
elif  (N>70):
  print("B")
elif (N>=60):
  print("c")
else:
  print("F")

enter grade of the student:65
c

In [ ]:
A = int(input())
B = int(input())
C = int(input())
if (a>b and a>c):
  print(a)
elif (b>a and b>c):
  print(b)
else:
 print(c)

25
89
78
8

In [ ]:
N = int(input("enter how many people"))
B = int(input("enter how many pieces per head"))
t=N*B
if " "%4==0:
  print(int(" "/4))
else:
  print((" "/4)+1)

enter how many people123
enter how many pieces per head4

TypeError: not all arguments converted during string formatting

In [ ]:
n=int(input("enter how many people"))
x=int(input("enter how many one subscription"))
total=n*x
if total%1==0:
  print(int(total*10))
else:
  print(int(total*600))

enter how many people22
enter how many one subscription6
1320

In [ ]:
R =int(input())
if (R<=3):
  print("one of top 3")
else:
  print("not top 3 but one of top 10")

45
not top 3 but one of top 10

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if<50:
-\  print(total=a*2)
elif<150:
  print((50*2)+(t-50)*3)
elif b<150:
  print()

In [ ]:
a=int(input())
if a<50:
  bill=2*a
elif a<150:
  bill=(2*50)+(3*(a-50))
elif a <250:
  bill= (2*50)+(3*100)+(5*100)+(8*(a-250))
print(bill+bill*0.2)

500
292.8

In [ ]:
cp=int(input())
sp=int(input())
if (sp > cp):
  print("propit")
else:
  print("no propet - no lose")

10
20
propit

In [ ]:
t=int(input())
if (t<0):
  print("freezing weather")
elif(0<=t<10):
  print("very cold weather")
elif(10<=t<20):
  print("cold weather")
elif(20<=t<30):
  print("normal")
elif(30<=t<40):
  print("hot")
else:
  print("very hot")

56
very hot

In [ ]:
a=int(input())
counter = 0
while counter < 3:
  a=a+1
  print(a)
  counter = counter +1

1
2
3
4

In [ ]:
a=int(input())
while counter < 3:
  a=a+1
  print(a)
  counter = counter +1
print("end")

80
end

In [ ]:
a = int(input())
couter = 0
condition = (counter < 3)
while condition:
  a = a + 1
  print(a)
  counter = counter + 10

80

In [ ]:
a=int(input())
counter=0
condition =(0>   a)
while condition:
  a=a+1
  print("1")
  counter=counter + 1

125

In [ ]:
a=int(input())
c=0
while(c<a):
  c=c+1
  print("*"*c)

12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [ ]:
0a=int(input())
counter=a+0
while(counter<10+a):
  counter=counter+1
print(counter)

7
17

In [ ]:
a=int(input())
c=0
sum=0
while(c<a):
  c=c+1
  sum=sum+c
  print(sum)

8
1
3
6
10
15
21
28
36

In [ ]:
a=3
c=0
sum=0
while(c<a):
 number=int(input("enter the number:"))
 sum=sum+number
 c=c+1
 print(sum)

enter the number:20
20
enter the number:30
50
enter the number:40
90

In [ ]:
a=2
c=0
sum=0
while(c<a):
 c=c+1
 sum=sum+c
 print(sum/c)

1.0
1.5

In [ ]:
a=input()
b=len(a)
c=0
while(c<b):

  print(a[c])n  c=c+1

pythob
p
y
t
h
o
b

In [ ]:
a=3
b=5
c=0
while(c<b):
  a=a+1
  print(a)
  c=c+1

4
5
6
7
8

In [ ]:
number=int(input())
Q=number/4j3


if(number%4==0):
  print("good")
else:
    print("not good")

12
good

In [ ]:
word="python"
for each_char in word:
  print(each_char)

p
y
t
h
o
n

In [ ]:
for number in range(7):
  print(number)

0
1
2
3
4
5
6

In [ ]:

for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  sum=sum+(i)
print(sum)

65
2080

In [ ]:
a=int(input())
sum=0
for i in range(a):
  number=int(input("enter the number:"))
  sum=sum+a
  print(sum)

2

In [ ]:
a=int(input())
sum=0
for i in range():
  number=int(input("enter the number:"))

In [ ]:
a=int(input())
b=int(input())
for i in range(a,b+1):
  print(i,end=" ")

10
32
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32

In [ ]:
a=int(input())
c=0
for i in range(a,c+3):
  c=c+3
  print("*"*1)

5

In [ ]:
a=int(input())
sum=1
for i in range(a):
  number=int(input("enter yhe number:"))
  sum=sum*number
  print(sum)

2
enter yhe number:5
5
enter yhe number:8
40

In [ ]:
name=input()
find_char=input()
count=0
for i in range(len(name)):
  if name[i]== find_char:
    count=count+1
if count>0:
    print("the char in the string")
else:
    print("the char not in the string")

python
o
the char in the string

In [ ]:
a=int(input())
c=0
while(c<a):
  c=c+1
  print("1"*1)
  print("2"*2)
  print("3"*3)
  print("4"*4)
  print("5"*5)
  print("6"*6)

1
1
22
333
4444
55555
666666

In [ ]:

start=int(input())
end=int(input())
for i in range(a,b+1):
  sum=sum+i
  print(sum)

2
6
569
571
574
578
583
589
596
604
613
623
634
646
659
673
688
704
721
739
758
778
799
821
844
868
893
919
946
974
1003
1033
1064
1096

In [ ]:
a=int(input())
for i in range(1,a+1):
  if i <=a -1:
    print("*   "*i)
  else:
    print("+   "*i)

4
*
*   *
*   *   *
+   +   +   +

In [ ]:
a=int(input())
for i in range(1,a+1):
  if i <=a -1:
    print("1  "*i)

    print("2  "*i)

4
1
1  1
1  1  1
2  2  2  2

In [ ]:
number=int(input())
for i in range(1,number+1):
  print(str(i)*i)
for i in range(1,number+1):
    print(str(i)*i)

4
1
22
333
4444
1
22
333
4444

In [ ]:
number=int(input())
for i in range(1,number+1):
  print(str(i)*i)
for i in range(1,number+1):
    print(str(i)*i)

5
1
22
333
4444
55555
1
22
333
4444
55555

In [ ]:
secret_message = "-R-a-v-i-"
print(secret_message[1:8:2])

Ravi

In [ ]:
a ="Waterfall"
part = a[1:6:3]
print(part)

ar

In [ ]:
is_digit ="4748".isdigit()
print(is_digit)

True

In [ ]:
mobile="9916216488"
print(len(mobile))
mobile=mobile.strip()
print(len(mobile))
print(mobile)

10
10
9916216488

In [ ]:
name="RAVI"
name=name.strip(".")
print(name)

RAVI

In [ ]:
name ="RAVI"
print=(name.lower())

In [ ]:
name = "ravi"
print(name.upper())

RAVI

In [ ]:
for i in range(2):
  print("outer:"+str(i))

  for j in range(2):
    print("inter:"+str(j))

outer:0
inter:0
inter:1
outer:1
inter:0
inter:1

In [ ]:
for i in range(2):
  print("outer:"+str(i))
  for j in range(1,6):
    print(j)

outer:0
1
2
3
4
5
outer:1
1
2
3
4
5

In [ ]:
for i in range(2):

  for j in range(1,6):
    print(str(j)*j)

1
22
333
4444
55555
1
22
333
4444
55555

In [ ]:
for i in range(2):
  print("outer:"+str(i))
  for j in range(1,6):
    print(j)

outer:0
1
2
3
4
5
outer:1
1
2
3
4
5

In [ ]:
rows=int(input("enter the rows:"))
columns=int(input("enter columns:"))
0
for i in range(rows):
  for j in range(1,columns):
    print(str(j)*j)

enter the rows:5
enter columns:2
1
1
1
1
1

In [ ]:
/for i in range(1,4):
  print("for loop i=",i)

  j = 1
  while j <2:
    print("while loop j =",j)
    j = j+1

for loop i= 1
while loop j = 1
for loop i= 2
while loop j = 1
for loop i= 3
while loop j = 1

In [ ]:
i = 1
while i <= 3:
  print("outer while i = ",i)
  j=1
  while j < 2:
    print("inner while j = ",j)
    j+=1
    i+=1

outer while i =  1
inner while j =  1
outer while i =  2
inner while j =  1
outer while i =  3
inner while j =  1

In [ ]:
num_row=5
num_columns=5
rows=1
while rows<=num_rows:
  columns=1
  while columns<=num_columns:
    print(columns, end=" ")
    columns=columns+1
  print()
  rows= rows+1

NameError: name 'num_rows' is not defined

In [ ]:
row=int(input("enter the rows: "))
columns=int(input("enter columns:"))
for i in range(rows): #columns
  new_string=" "
  for j in range(1,columns+1): #rows
    new_string=new_string+str(j)+" "
  print(new_string)

enter the rows: 98
enter columns:8
 1 2 3 4 5 6 7 8

In [ ]:
row=int(input("enter the row: "))

for i in range(rows): #columns
  new_string=" "
  for j in range(1,i+1): #row
     new_string=new_string+str(j)+" "
  print(new_string)

enter the row: 8

In [ ]:
# print number 1 to 5 using while with break
num = 1

while num<10:      #infinite loop
    print(num)
    num = num + 1

    if num > 5:   # stop condition
        break     #exit loop
print("program ended")

1
2
3
4
5
program ended

In [ ]:
for i in range(5)
print(i)
if (i==5):
     continue

SyntaxError: expected ':' (ipython-input-2121508031.py, line 1)

In [ ]:
for i in range(5):
  if i ==3:
    continue
    print("program ended")

In [ ]:
num = 0

if num > 0:
  print("the number is positive")
elif num == 0:
    pass   # do nothing if the number is zero
else:
    print("the number is negative")

In [ ]:
number_range=int(input())
sum=0
for i in range(1,number_range):
  sum=sum+1

  if sum>15:
    break
  print("program ended")

3
program ended
program ended

In [ ]:
#factorial number
number=int(input())
factorial=1
for i in range(1,number+1):
 factorial=factorial*i
print(factorial)

5
120

In [ ]:
a=ord("A")
print=(a)

In [ ]:
a= chr(65)
 print(a)

IndentationError: unexpected indent (ipython-input-2794065336.py, line 2)

In [ ]:
name ="python"
for i in name:
  print(i)

TypeError: 'int' object is not callable

In [ ]:
name="12345python"
part=name[5:]
sum=0
for i in name:
  value=ord(i)
  sum=sum+value
print(sum)

TypeError: 'int' object is not callable

In [ ]:
name="12345python"
part=name[5:]
sum=0
for i in name:
  value=ord(i)
  if sum>>200:
  break
print(sum)

TypeError: 'int' object is not callable

In [ ]:
  list_a = [5, "six", 2, 8.2]
  print(list_a)

[5, 'six', 2, 8.2]

In [ ]:
a = 2
list_a = [5, "six",a, 8.2]
print(type(list_a))
print(list_a)

<class 'list'>
[5, 'six', 2, 8.2]

In [ ]:
a = 2
list_a = [5, "six", a, 8.2]
for item in list_a:

SyntaxError: incomplete input (ipython-input-2475670030.py, line 4)

In [ ]:
a = 2
list_a = [5, "six", a, 8.2]
for item in range(len(list_a)):
  print(list_a[item])

5
six
2
8.2

In [ ]:
list_a = [1, 2, 3]
list_b = ["a", "b", "c"]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
list_a = []
print(list_a)
for i in range(1,4):
  list_a = list_a+[i]
print(list_a)

[]
[1, 2, 3]

In [ ]:
list_a = [1, 2]
l

In [ ]:
list_name=["a","b","c","d"]
s=list_name[-1:]
print(s)

d

In [ ]:
list_name=["a","b","c","d"]
s=list_name[-1:]
print(s)+
58

In [ ]:
a= int(input())
b= []
for i in range(a):
  value = int(input())
  b = b + [value]
print(b)

4
1
2
3
4
[1, 2, 3, 4]

In [ ]:
a= int(input())
b= []
for i in range(a):
  value = input()
  b = b + [value]
print(b)

8
abhi
sandesh
shlok
omkar
rahul
ramesh
octen
abhi
['abhi', 'sandesh', 'shlok', 'omkar', 'rahul', 'ramesh', 'octen', 'abhi']

In [ ]:
a = 2
tuple_a = (5, "six",a, 8.2)
print(type(tuple_a))
print(tuple_a)

<class 'tuple'>
(5, 'six', 2, 8.2)

In [ ]:
a = 2
tuple_a = (5, "six",a, 8.2)
print(type(tuple_a))
print(tuple_a[1])

<class 'tuple'>
six

In [ ]:
color = "red"
tuple_a = tuple(color)
print(tuple_a)

('r', 'e', 'd')

In [ ]:
list_a = [1,2,3]
tuple_a = tuple(list_a)
print(tuple_a)

(1, 2, 3)

In [ ]:
tuple_a = tuple(range(4))
print(tuple_a)

(0, 1, 2, 3)

In [ ]:
number = int(input())
result = ()
for i in range(number):
  value = input()
  result = result + (value,)
print(result)

3
abhi
sandy
abhya
('abhi ', 'sandy', 'abhya')

In [ ]:
tuple_a = (1,2,3,4)
is_part = 5 in tuple_a
print(is_part)

False

In [ ]:
tuple_a = (1,2,3,4)
is_part = 1 not in tuple_a
print(is_part)

False

In [ ]:
tuple_a = (1,2,3,4)
is_part = 1 not in tuple_a
print(is_part)

False

In [ ]:
tuple_a = (1,2,"six",4,6)
is_part = "six" not in tuple_a
print(is_part)

False

In [ ]:
word = 'lakshami is well -mannered girl'
is_part = 'lakshmi' in word
print(is_part)

False

In [ ]:
word = 'lakshami is well -mannered girl'
part=input()
is_part = 'lakshmi' in word
print(is_part)

girl
False

In [ ]:
tuple_a = ('R','E','D')
(s_1,s_2,s_3) = tuple_a
print(s_1)
print(s_2)
print(s_3)

R
E
D

In [ ]:
tuple_a = ('R','E','D')
(s_1,s_2,s_3,s_4) = tuple_a
print(s_1)
print(s_2)
print(s_3)

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
set_a = {5,"six, 2, 8.2"}
print(type(set_a))
print(set_a)

<class 'set'>
{5, 'six, 2, 8.2'}

In [ ]:
set_a = {"a","b","c" , "a",1,2,3,4,}
print(set_a)

{1, 2, 3, 4, 'c', 'a', 'b'}

In [ ]:
set_a = {1,2,3,4}
print(set_a)

{1, 2, 3, 4}

In [ ]:
# cerate a sample set
s = {1,2,3,4}
print("original set:",s)
s.add(10)
print("after add(10):",s)
s.update([11,12,13])
print("after update ([11,12,13]):")

original set: {1, 2, 3, 4}
after add(10): {1, 2, 3, 4, 10}
after update ([11,12,13]):

In [ ]:
s.remove(3)
print("after remove(3):",s)

after remove(3): {1, 2, 4, 10, 11, 12, 13}

In [ ]:
s. discard(99)  #99 not in set, no error
print("after discard(99):")

after discard(99):

In [ ]:
removed = s. pop()
print("after pop():,s,")

after pop():,s,

In [ ]:
temp = s.copy()
temp.clear()
print("after clear():", temp)

after clear(): set()

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# 7. union() combine set
print("union:",s1.union(s2)) #{1,2,3,4,5}

union: {1, 2, 3, 4, 5, 6}

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print("diffence (s1-s2):", s1.difference(s2))

diffence (s1-s2): {1, 2}

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
print("issubset:", {1,2}. issudset(s1))

AttributeError: 'set' object has no attribute 'issudset'

In [ ]:
dict_a = {
    'name': 'teja',
    'age': 15
}
print(dict_a.values())

dict_values(['teja', 15])

In [ ]:
dict_a = {
    'name': 'teja',
    'age': 15
}
print(dict_a.items())

dict_items([('name', 'teja'), ('age', 15)])

In [ ]:
dict_a = {
    'name': 'teja',
    'age': 15
}
print(dict_a.keys())

dict_keys(['name', 'age'])

In [ ]:
dict_a = {
    'name': 'teja',
    'age': 15
}
for key in dict_a.values():
    print(key)

teja
15

In [ ]:
dict_a = {
    'name': 'teja',
    'age': 15
}
for key in dict_a.keys():
    print(key)

name
age

In [ ]:
dict_a = {
    'name1': 'teja',
    'name2':"vasu",
    'name3': "sukanya"
}
for key in dict_a.values():
  if key=="vasu":
   print("your values is found")
   break
  else:
    pass

your values is found

In [ ]:
a=input()
print(a[0]+"*"*(len(a)-2)+a[-1])

SUDESH
S****H

In [ ]:
def greet():
  print("hello")

name=input()
print(name)

samarth
samarth

In [ ]:
def greet():
  print("hello")

name=input()
greet()
print(name)

In [ ]:
def greet():
  print("hello")

name=input("enter the hii")
print(name)

enter the hiihelo
helo

In [ ]:
def print_name():
  print(name)

name=input()
print_name()
print(name)

samarth

NameError: name 'pritnt_name' is not defined

In [ ]:
def greet(word):
  msg = "hello" + word
  print(msg)

name = input("enter the name:")
greet(word=name)

In [ ]:
def greet(word):
  msg = "hello" + word
  return msg

name = input("enter your name:")
result = greet(word=name)
print(result)

In [ ]:
def greet(arg_1, arg_2):
  print(arg_1 +" " + arg_2)

greeting = input("greeting :")
name = input("enter name :")
greet(arg_1=greeting,arg_2=name)

In [ ]:
def gerrt(arg_1="hi", arg_2="ram"):
  print(arg_1 + " " + arg_2)

gerrting = input()
name = input()
gerrt(gerrting)